<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036410935547-q6s2io5qv2s68d90i3rlq2m6is8p0s9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036410935547-q6s2io5qv2s68d90i3rlq2m6is8p0s9v</string>
	<key>API_KEY</key>
	<string>AIzaSyDlWnOUZ2Y9__N7t7tVQ1Dlgo6M6S7Ltkg</string>
	<key>GCM_SENDER_ID</key>
	<string>1036410935547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.uniroma3.mc.Sommeliar</string>
	<key>PROJECT_ID</key>
	<string>sommelier-ar</string>
	<key>STORAGE_BUCKET</key>
	<string>sommelier-ar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false />
	<key>IS_ANALYTICS_ENABLED</key>
	<false />
	<key>IS_APPINVITE_ENABLED</key>
	<true />
	<key>IS_GCM_ENABLED</key>
	<true />
	<key>IS_SIGNIN_ENABLED</key>
	<true />
	<key>GOOGLE_APP_ID</key>
	<string>1:1036410935547:ios:671bdea1a4883ea856f85e</string>
</dict>
</plist>